#contact-bottom {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#contact-bottom h3 {
    font-size: 28px;
}

#social-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
}

#facebook {
    width: 60px;
    margin: -8px 20px 0px 0px;
}
#twitter {
    width: 40px;
    margin-right: 18px;
}
#tiktok {
    width: 60px;
    margin-right: 11px;
}
#levelup {
    width: 75px;
    margin-top: -15px;
}

#social p {
    font-size: 22px;
    color: #000;
}

#emailus {
    margin: 10px 0px;
}

.center {
    display: flex;
    justify-content: center;
}

#bottom-hr {
    width: 85%;
    border: 0.5px solid grey;
}