body {
    margin-top: 40px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#photo-slider {
    overflow: hidden;
    height: 180px;
}

#photo-slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 16s slider infinite;
    border-top: 2px solid black;
}

#photo-slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: 0%;
    }
    100% {
        left: 0%;
    }
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

#entry-modal {
    width: 70%;
    padding: 20px 15px;
    text-align: center;
    background-color: rgba(0,0,0,0.85);
    border-radius: 10px;
    backdrop-filter: blur(4px);
    z-index: 50;
    position: fixed;
    bottom: 75px;
    animation: 3s ease-out 0s 1 slideInLeft;
}
h1,
#more {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-shadow: 1px 1px black;
}
#more {
    margin-top: 10px;
    color: rgb(45, 191, 178);
}
#button-right {
    display: flex;
    justify-content: flex-end;
}
#modal-btn {
    background-color: transparent;
    border-style: none;
    color: #fff;
    font-size: 19px;
    position: relative;
    top: -10px;
}
#modal-btn:hover {
    cursor: pointer;
}

h2 {
    font-size: 26px;
    margin: 5px 0px;
}

#featured {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 25px;
}

.featured-card {
    width: 110px;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
}

.featured-text {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    text-shadow: 1px 1px black;
    padding: 100%;
    background-color: rgba(0,0,0,0.45);
}

.featured-lego {
    background-image: url('../assets/lego-bg.jpg');
}
.featured-tcg {
    background-image: url('../assets/poke-cards.jpg');
}
.featured-games {
    background-image: url('../assets/games.jpg');
}

#main-about {
    margin: 25px;
    background-image: url(../assets/wizard.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-about p {
    font-size: 23px;
    font-weight: 500;
    color: #fff;
    text-shadow: 1px 1px black;
    background-color: rgba(0,0,0,0.3);
    padding: 30px 20px;
    text-align: center;
}

.top-sellers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    width: 170px;
    height: 215px;
    margin: 15px 0px;
    overflow: hidden;
    border: 1px solid rgba(128, 128, 128, 0.15);
    border-radius: 15px;
    padding: 5px;
}

.product img {
    height: 80%;
}

.product-info {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-info p {
    font-weight: 500;
    color: #000;
}

#event-banner img{
    width: 100%;
    margin: 15px 0px;
}

#new-releases {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

/* @media */